@import 'sass';

.Toggle {
	@include flex-center-center;
	@include hover-cursor;

	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 803;
	padding: 24px !important;
	border: none;
	border-radius: map-get($borders, borders_small_radius);
	background-color: map-get($colors, color_primary) !important;

	height: map-get($sizes, sizes_nav_m_toggle);
	width: map-get($sizes, sizes_nav_m_toggle);

	svg {
		margin-top: 4px;
		position: absolute;
		color: map-get($colors, color_secondary);
	}

	@media #{map-get($media, cpu_min)} {
		display: none !important;
	}
}
