@import 'sass';

.Outer {
	@include flex-col-center-center;
	background-color: map-get($colors, color_defaultBlack);
	padding-bottom: 10px;
	position: relative;

	p {
		font-size: 10px;
		letter-spacing: 1px;
		font-weight: 300;
		color: white;
		margin: 0;

		a {
			color: map-get($colors, color_secondary);
		}
	}

	.Inner {
		@include flex-center-center;
		z-index: 10;
		padding: 25px 0 15px 0 !important;
		position: relative;

		.ImageCol {
			@include flex-center-center;
			img {
				width: 80px;
			}
		}

		.LinkCol {
			@include flex-center-center;
			a {
				@include p-small;
				color: white;
				padding: 10px 30px;
				text-align: center;
			}
		}

		.StartCol {
			@include flex-center-center;

			.GetStarted {
				@include flex-center-center;
				position: absolute;
				right: 0;
			}
		}
	}

	// @media #{map-get($media, tablet_max)} {
	// 	padding-bottom: 0 !important;

	// 	.Inner {
	// 	}
	// }
}
