@import 'sass';

.Wrapper {
	@include flex-center;
	@include center-cover-bg;
	height: 70vh;
	min-height: 500px;
	position: relative;
	.Title {
		@include flex-col-start;
		@include banner-txt-default;
		color: white;

		span {
			&:first-of-type {
				font-weight: 300;
			}
			font-weight: 500;

			&:last-of-type {
				font-weight: 800;
				margin-bottom: 40px;
			}
		}
	}
}
