@import 'sass';

.Wrapper {
	padding-bottom: 45px;
	width: 100%;

	h2 {
		@include sub-default;
	}

	p {
		@include p-summary;
		margin-bottom: 20px;
		letter-spacing: 1px;
		white-space: wrap !important;

		strong {
			font-weight: 500;
		}
	}

	&[data-light='1'] {
		h1,
		p,
		button {
			color: white;
		}
	}

	:last-child {
		margin-bottom: 0 !important;
	}
}
