$borders: (
	borders_small_radius: 5px,
	borders_large_radius: 50px,
	borders_avatar_radius: 100%,
);

@each $border-key, $border in $borders {
	:export {
		#{$border-key}: #{map-get($borders, #{$border-key})};
	}
}
