@import 'sass';

.Container {
	margin-top: map-get($sizes, sizes_nav_height);
	border-bottom: 3px solid map-get($colors, color_secondary);

	h1 {
		@include title-bold;
		margin: 0 !important;
	}

	.Center {
		@include flex-col-center;

		h3 {
			margin: 0 !important;
			@include p-default;
		}
	}

	.Right {
		@include flex-col-center-center;

		a {
			@include p-small;
			margin: 5px;
			text-align: center;
			color: map-get($colors, color_primary);
		}
	}

	@media #{map-get($media, mobile)} {
		margin-top: 0 !important;

		.Center {
			margin: 20px 0 30px 0 !important;
		}

		.Right {
			margin-top: 10px !important;
		}
	}
}
