@import 'sass';

.Outer {
	position: relative;

	.ImageHalf {
		@include center-cover-bg;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 50%;
	}

	.Inner {
		.Content {
			@include flex-col-center;
			min-height: 500px;
			align-items: flex-start;
			padding-bottom: 40px;
			padding-top: 30px;
			margin-bottom: 80px !important;

			p,
			h1,
			h3 {
				color: map-get($colors, color_themeBlack);
			}
		}
	}
}
