// SIZING
@mixin center-cover-bg {
	background-size: cover !important;
	background-position: center !important;
}

@mixin bottom-cover-bg {
	background-size: cover !important;
	background-position: bottom !important;
}

@mixin top-cover-bg {
	background-size: cover !important;
	background-position: top !important;
}

// OVERLAYS
@mixin background-overlay-brand {
	background: linear-gradient(243.29deg, rgba(32, 177, 218, 0.15) 33.87%, rgba(237, 111, 170, 0.15) 57.04%),
		linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

@mixin background-overlay-brand-2 {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26)),
		linear-gradient(106.81deg, rgba(32, 177, 218, 0.35) 29.7%, rgba(237, 111, 170, 0.35) 77.58%);
}

@mixin background-overlay-secondary {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), #20b1da;
	opacity: 0.5;
}

@mixin background-overlay-light {
	background-color: rgba(0, 0, 0, 0.15);
}

@mixin background-overlay-mid {
	background-color: rgba(0, 0, 0, 0.45);
}

@mixin background-overlay-dark {
	background-color: rgba(0, 0, 0, 0.8);
}

@mixin background-overlay-lighten {
	background-color: rgba(242, 242, 242, 0.1);
}
