@import 'sass';

.Outer {
	@include flex-center;
	min-height: 600px;
	position: relative;
	background-color: #050505;

	.Picture {
		// width: 30%;
		// max-width: 500px;
		height: 100%;
		position: absolute;
		right: 0;
		bottom: 0;
		transform: scaleX(-1);
	}

	.Content {
		width: 80%;
		position: relative;
		z-index: 10;

		h3 {
			color: map-get($colors, color_secondary);
			@include banner-txt-secondary;
		}
	}

	.LogoPatch {
		$logoSize: 200px;
		position: absolute;
		z-index: 10;
		margin: 0 auto;
		width: $logoSize;
		transform: translateX(-50%);
		left: 50%;
		bottom: calc(-#{$logoSize} / 2);
	}
}
